html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
ins, 
strong, 
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,  
tbody,
tfoot,
thead,
tr,
th,
main,
td,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
iframe {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font: 1rem  'Poppins';
	color: #333;
	line-height: 100%;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
htnml {
	font-size: 62,5%;
}
/* image replacemente */
header .interface a h1 span {
display: block;
text-indent: -999999px;
width: 100%;
}

/* começando o header */
.interface {
	width: 95vw;
	display: flex;
	justify-content: space-between;
}

h1 img {
	display: block;
	width: 90%;
}
#home {
	width: auto;
}
h1 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
header {
	height: 15vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.options {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}
/* menu */
nav {
	width: 90%;
	height: 100%;
	justify-self: flex-end;
}

nav > ul {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 5px;
	height: 100%;
}
header a {
	text-decoration: none;
}

nav > ul li a {
	color:#000;
	font-weight: 500;
	font-size: 1rem;
	text-transform: uppercase;
	transition: all 1s ease;
	padding: 20px;
}

nav > ul li a:hover {
	 color: #E6C744;
	 font-size: calc(1rem + 20%);
	 transition-duration: 0.3s;
}
/* botão */
/* optei por colocar os botões do hero e do login dividindo a mesma regra, pois ambos tem uma formatação muito similar */
#botaoLogin, #botaoDoHero {
	width: 15%;
	background-color: #000;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid transparent;
	transition: all 0.5s ease;
}
#botaoLogin:hover{
	transform: translateY(-5px) scale(1.1);
	transition-duration: 0.4s;
}
#botaoLogin a, #aDoHero {
	text-decoration: none;
	color: #fff;
	padding: 5px 5px;
	font-weight: 500;
	font-family: "Poppins";
	text-transform: uppercase;
}
/* formatação da animação do botão */
#botaoDoHero:hover{
	transform: translateY(-5px) scale(1.1);
	transition-duration: 0.4s; 
}
/* mudando o tamanho do botão */
#botaoDoHero {
	width: 10%;
}

@media (max-width: 1250px) {
	#botaoLogin {
		width: 15%;
		background-color: #000;
		padding: 5px;
		border-radius: 10px;
		border: 1px solid transparent;
}

nav {
	width: auto;
	height: 100%;
	justify-self: flex-end;
}
nav > ul li a {
	padding: 5px;
	font-size: calc(1rem - 20%);
}
}

/* começando o hero */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #C2C8DA;
	padding-top: 1%;
}
#hero {
	height: 70vh;
	width: 90%;
	background-image: url(../assets/backgroundHero.svg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-radius: 20px;
	gap: 5%;
}
#contentImage {
	width: 30%;
	height: 50%;
}
#hero img {
	width: 100%;
	height: 100%;
	margin-left: 30%;
}
.marginItens {
	margin-left: 13.5%;
}
/* banner */
#faixaDeMarcas {
	height: 10vh;
	width: 90%;
	background-color: #E6C744;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#faixaDeMarcas img {
	width: 90%;
	height: 95%;
}
/* aqui começa o arrivals */
/* estou fazendo uma image replacemente para garantir acessibilidade e fidelidade ao design */
#arrivals {
	background-color: #fff;
	border-radius: 20px 20px 0 0;
	width: 90vw;
	height: auto;
	padding-bottom: 5%;
}
/* image replacemente */
#arrivals h2 span {
	display: block;
	text-indent: -999999px;
	width: 2%;
}
#arrivals h2 {
	height: 10%;
	display: flex;
	align-items: center;
}
#arrivals h2 img {
	width: 20%;
	margin-left: 2%;
	margin-top: 2%;
}
/* conteudo do arrivals */
.cardArrivals {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto repeat(2, minmax(10px, 15px));
	grid-template-areas: "imagem imagem" "titulo icon" "texto icon";
	align-items: center;
	justify-items: start;
	gap: 10px 0;
	transition: all 0.4s ease;
	border: 1px solid transparent;
}
.cardArrivals h3 {
	margin-top: 10px;
	font-weight: bold;
}
.cardArrivals p {
	font-weight: 300;
	font-size: 0.8rem;
}
.cardArrivals .containerFoto img{
	width: 100%;
	height: 100%;
	border-radius: 20%;
}
.containerFoto {
	width: 300px;
	height: 400px;
	justify-self: center;
	grid-area: imagem;
}
.icon {
	grid-area: icon;
	justify-self: end;
	width: 70%;
	height: 80%;
}
.cardArrivals h3 {
	grid-area: titulo;
}
.cardArrivals p {
	grid-area: texto;
}
#arrivalsContent a {
	width: 30%;
	height: 90%;
	text-decoration: none;
	color: #000;
}
/* animação do card */
.cardArrivals:hover {
	transform: translateY(-5px) scale(1.1);
}

#arrivalsContent {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	height: auto;
	margin-top: 5%;
	gap: 30px;
	padding:  0 4%
}
/* PayDay section */
#payDay {
	width: 90vw;
	height: 90vh;
	background-image: url(../assets/payDaySection.svg);
	background-size: cover;
	display: flex;
	justify-content: flex-end;
}
#PaydaySection {
	width: 46%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
}
#imagePayDaySection img {
	width: 100%;
	height: 100%;
}
 #imagePayDaySection {
	width: 70%;
	height: 40%;
	/* margin-left: 15%; */
 }
 .textcontentPayday {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-left: 5%;
 }
 .textcontentPayday p {
	font-size: 1.3rem;
	line-height: 1.5;
	font-weight: 500;
	color: #000;
 } 
.textcontentPayday p span{
	display: block;
	font-weight: bold;

 }
 /* botão */
 #botaoDoPayDaySection {
	width: 30%;
	background-color: #000;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid transparent;
	transition: all 0.5s ease;
 }
 #botaoDoPayDaySection a {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-family: "Poppins";
	font-size: 1.1rem;
 }
 #botaoDoPayDaySection:hover {
	transform: translateY(-5px) scale(1.1);
	transition-duration: 0.4s; 
 }
 
 /* yongs's favorite */
 #youngContent {
	width: 90vw;
	height: 75vh;
	background-color: #fff;
 }
 /* titulo e image replacement */
 #youngContent h2 img {
	width: 100%;
	height: 100%;
 }
 #youngContent h2 {
	width: 25%;
	height: auto;
	display: flex;
	align-items: center;
	margin-top: 2%;
	margin-left: 2%;
 }
 #youngContent h2 span {
	display: block;
	text-indent: -999999px;
	width: 2%;
 }
 #youngContentCards {
	width: 100%;
	height: 80%;	
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
 }
.youngCard {
	width: 90%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto repeat(2, 1fr);
	grid-template-areas: "imagem imagem" "titulo icon" "texto icon";
	gap: 5px;
}
.youngCardContentImage img {
	width: 100%;
	height: 100%; 
  }
  
.youngCardContentImage {
	grid-area: imagem;
	width: 100%;
	height: 100%;
  }
#youngContent #youngContentCards a#alinhadoAEsquerda {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	height: 100%;
	text-decoration: none;
	color: #000;
	font-weight: 200;
	transition: all 0.4s ease;
	/* padding: 0 4%; */
  }
#youngContent #youngContentCards a#alinhadoADireita {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
	height: 100%;
	text-decoration: none;
	color: #000;
	font-weight: 200;
	transition: all 0.4s ease;
	/* padding: 0 4%; */
  }
.youngCard h3 {
	grid-area: titulo;
}
#tituloDoCard1, #tituloDoCard2 {
	font-weight: bold;
}
.youngCard p {
	grid-area: texto;
}
.youngCard > img {
	grid-area: icon;
	justify-self: end;
	align-self: center;
}
/* animação do card */
#youngContent #youngContentCards a#alinhadoADireita:hover, #youngContent #youngContentCards a#alinhadoAEsquerda:hover {
	transform: translateY(-5px) scale(1.1);
}